@charset "utf-8";

$size: 1.3px;

body {
  font-size: 12*$size;
  color: rgb(51, 51, 51);
  line-height: 18*$size;
}

h1 {
  margin: 10*$size 0*$size 5*$size 0*$size;
  padding: 2*$size 5*$size;
  font-size: 16*$size;
  font-weight: normal;
  line-height: 22*$size;
  border: rgb(200, 200, 200) 3*$size double;
}

h2 {
  margin: 8*$size 0*$size 4*$size 0*$size;
  padding: 0*$size 3*$size;
  font-size: 14*$size;
  font-weight: normal;
  line-height: 20*$size;
  border-bottom: rgb(200, 200, 200) 1*$size solid;
}

h2:before {
  margin: 0*$size 3*$size 0*$size 0*$size;
  color: rgb(200, 200, 200);
  content: "▶";
}

p {
  margin: 5*$size 0*$size;
  padding: 0*$size;
  line-height: 18*$size;
}

pre {
  font-family: monospaced;
  margin: 5*$size 0*$size;
  padding: 1*$size 3*$size;
  line-height: 18*$size;
  border-top: rgb(200, 200, 200) 1*$size solid;
  border-bottom: rgb(200, 200, 200) 1*$size solid;
}

span.monospaced {
  font-family: monospaced;
}

a {
  color: rgb(0, 150, 201);
}

table {
  margin: 5*$size 0*$size;
  border-collapse: collapse;
  border-top: rgb(200, 200, 200) 1*$size solid;
  border-bottom: rgb(200, 200, 200) 1*$size solid;
}

table tr td {
  margin: 0*$size;
  padding: 1*$size 8*$size 1*$size 3*$size;
  font-size: 12*$size;
  line-height: 18*$size;
  text-align: left;
}

table tr td:last-child {
  padding: 0*$size 3*$size 0*$size 3*$size;
}

table tr:nth-child(odd) td {
  background-color: rgb(255, 255, 255);
}

table tr:nth-child(even) td {
  background-color: rgb(249, 249, 249);
}